@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

   
    <style>
        #pred1 {
            margin-left: 0%;
            width: 100%;
            height: auto;
            /* left: 239px;*/
            top: 310px;
            background: #FFE49E;
            box-shadow: 0px 4px 4px rgba(167, 111, 13, 0.52);
            border-radius: 60px;
        }

        #pred2 {
            margin-left: 0%;
            width: 80%;
            height: auto;
            left: 240px;
            top: 478px;
            background: #CDB4FF;
            box-shadow: 0px 4px 4px rgba(80, 6, 106, 0.25);
            border-radius: 60px;
        }

        #pred3 {
            margin-left: 0%;
            width: 70%;
            height: auto;
            left: 239px;
            top: 636px;
            background: #9FE2FF;
            box-shadow: 0px 4px 4px #54C4F8;
            border-radius: 60px;
        }

        #pred4 {
            margin-left: 0%;
            width: 60%;
            height: auto;
            left: 239px;
            top: 801px;
            background: #E1FFBB;
            box-shadow: 0px 4px 4px rgba(20, 146, 25, 0.25);
            border-radius: 60px;
        }

        #pred5 {
            margin-left: 0%;
            width: 50%;
            height: auto;
            left: 239px;
            top: 940px;
            background: #FFC8C8;
            box-shadow: 0px 4px 4px rgba(187, 22, 0, 0.25);
            border-radius: 60px;
        }
    </style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-section">

        <div class="container">

            <div class="row mb-2" data-aos="fade-up" data-aos-delay="200">

                <div class="container">
                    <ResultTitle> Areas you will most likely be employed in: </ResultTitle><br /><br />
                </div>

                <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10 mr-auto">

                    <div class="container" id="pred1">
                        <br />
                        <resultitle>Prediction 1</resultitle><br />
                        <resultpredict>@ViewBag.pred1  </resultpredict><br />
                        <br />
                    </div><br />
                    <div class="container" id="pred2">
                        <br />
                        <resultitle>Prediction 2</resultitle><br />
                        <resultpredict> @ViewBag.pred2 <br /> </resultpredict><br />
                    </div><br />

                    <div class="container" id="pred3">
                        <br />
                        <resultitle>Prediction 3</resultitle><br />
                        <resultpredict>  @ViewBag.pred3 <br /> </resultpredict><br />
                    </div><br />

                    <div class="container" id="pred4">
                        <br />
                        <resultitle>Prediction 4</resultitle><br />
                        <resultpredict>  @ViewBag.pred4 <br /> </resultpredict><br />
                    </div><br />
                    <div class="container" id="pred5">
                        <br />
                        <resultitle>Prediction 5 </resultitle><br />
                        <resultpredict>@ViewBag.pred5<br /> </resultpredict><br />
                    </div>

                </div>

                <div class="col-xl-5 col-lg-5  align-content-start" data-aos="fade-left">
                    <img class="img-fluid pt-6" src="~/images/3304458 1.png" alt="Image" />
                    @*<div style="margin-top:20px">
                            @{Html.BeginForm("SubmitAction", "Search", FormMethod.Post);
                                {


                                        <button name="SubmitAction" type="submit" class="btn btn-primary mr-2 mb-4">Download in pdf  ➔</button>

                                }

                            }
                            <a href="#" class="btn btn-primary mr-2 mb-4">Download in pdf  ➔</a>
                        </div>*@
                    @*<input type="button" class="btn btn-success" value="Generate PDF" onclick="location.href='@Url.Action("SubmitAction", "Search")'" id="pdf" />*@


                    <div style="margin-top:20px">

                        <button id="emailbut" type="button" class="btn btn-primary mr-2 mb-4 flip">
                            Send result via email    <img src="~/images/email.svg" type="image/x-icon" />
                        </button>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Please enter your email address</span>
                            </div>
                            <input id="email" type="text" class="form-control">

                        </div>
                        @*<input style="background: #FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px;" type="text" id="email" />*@

                    </div>
                </div>
                <div class="col-1"></div>



            </div><br />
            <div class="row justify-content-center">
                <a href="~/Search/Articles" class="btn btn-primary mr-2 mb-2">Go to Articles  ➔</a>
            </div>
        </div>



    </div>


</body>

<script>
    $("#emailbut").click(function (e) {
        debugger;
        e.preventDefault();
        var email = $("#email").val();
        var isValidEmail = true;
        ValidateEmail(email);
        function ValidateEmail(email)
        {
            debugger;
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
             if (!(email.match(mailformat))) {
            debugger;
                 alert("Invalid email address! Please input a valid email address.");
                 isValidEmail = false;

        }
        }
        if (isValidEmail) {
            var saveUrl = '@Url.Action("CallEmail")';
            var prediction1 = "@ViewBag.pred1";
            var prediction2 = "@ViewBag.pred2";
            var prediction3 = "@ViewBag.pred3";
            var prediction4 = "@ViewBag.pred4";
            var prediction5 = "@ViewBag.pred5";

            $.ajax({
                url: saveUrl,
                data: {
                    'prediction1': prediction1, 'prediction2': prediction2, 'prediction3': prediction3, 'prediction4': prediction4,
                    'prediction5': prediction5, 'email': email
                },
                method: "POST",
                error: function () {
                    alert("Ajax call failed");
                }
            }).done(function () {
                alert("Email sent!");
            })
        }
    });
</script>




